[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[packages]
discord-py = "*"
emoji-country-flag = "*"

[requires]
python_version = "3.8"
